/* TOP HOME */

.top-home img {
   width: 100%;
   height: 150%;
   min-height: 45vh;
}

#home-top-descr {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: clamp(4rem,7vw,5rem);
    align-items: center;
    margin:2rem;
    color: var(--white-all);
}

#home-top-descr h1{
    font-size: clamp(1.5rem,4vw,2rem);
    margin: 0;
}

#home-top-descr p{
    margin: 1.5rem 0 1.5rem 0;
}

/* CARROSSEL MARCAS */

.marcas-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: clamp(0.5rem,3.5vw,1.5rem);
}

.marcas-carrosel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden; 
}

.marcas-home p {
    margin-bottom: 1.2rem;
    
} 


.marcas-carrosel {
  width: 100%;
  overflow: hidden; /* CORTA qualquer excesso */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );

  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
    will-change: transform;

}

.cort {
  display: flex;
  align-items: center;
  width: max-content; 
  animation: scroll 25s linear infinite;
}

.cort img {
  height: clamp(2.2rem, 6vw, 3.5rem);
  width: auto;
  margin-right: 1rem;
  flex-shrink: 0; 
}

.cort img:last-child {
  margin-right: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* MISSAO,VISAO,VALORES E HISTORIA */

.MVV {
    font-family: "Poppins", sans-serif;;
    margin: 1rem;

  }

.missao-visao {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.missao-visao p {
    font-size: clamp(0.8rem,3.8vw,1.8rem);
    padding-left: 0.5rem;
    border-left: solid 1px var(--black-all);
}

.visao {
    background: var(--panel-color);
    border-radius: 1rem;
    color: var(--black-all);
    padding: 1rem;
}

.missao {
    background: var(--panel-color);
    border-radius: 1rem;
    color: var(--black-all);
    padding: 1rem;
    
}

.valores {
    background: var(--second-color);
    border-radius: 1rem;
    color: var(--white-all);
    padding: 1rem;
    margin: 1rem;
}

.valores p {
    padding-left: 0.5rem;
    border-left: solid 1px white;
}

.missao-visao h1{

}

.missao-visao p{

}