@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-color:#368CE7;
    --second-color:#091242;
    --footer-color:#12141D;
    --white-all:#FFFFFF;
    --black-all:#000000;
    --translucent-black:rgba(0, 0, 0, 0.8);
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
}