#contato-menu {
    position: absolute;
    bottom: clamp(9.5rem, 22.5vw, 10.5rem);
    border:0;
    font-size: clamp(1rem,5vw,2rem);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    background: var(--black-all);
    color: var(--white-all);
    cursor: pointer;
}

#contato-menu:hover {
    filter: brightness(1.2);
}

#contato-home-top {
    border:0;
    font-size: clamp(0.5rem,4.5vw,1.5rem);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 2rem;
    background: var(--black-all);
    color: var(--white-all);
    cursor: pointer;
}