header {
    display: flex;
    flex-direction:inline;
    justify-content: space-between;
    align-items: center;
    background-color: var(--translucent-black);
    color: var(--white-all);
}

#menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
}

#name-Menu {
    font-size: clamp(0.7rem,1.0vw,1.2rem);
}

#menu ion-icon {
  width: 1.5rem;
  height: 1.5rem;
}

#img-logo {
    height: clamp(2.5rem, 6.5vw, 3.5rem);
    margin: 0.5rem 0 0.5rem 0;

}
.icons {
    margin-right: 0.8rem;
}

/* OPEN MENU */

.all{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: var(--white-all);

    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    /* um jeito de criar a animação suave */
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 999;
}

.all.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

#open-menu {
    margin: 1.5rem 1.5rem 0 1.5rem;

}

#close-button{
    display: flex;
    align-items: center;
    border: 0;
    font-size: 1.5rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    margin: 0;
    border-radius: 0.1rem;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#row-button{
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    border: 0;
}

.menu-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-all);
    padding-bottom: 1rem;

}

#titulo-menu-contato {
    margin: 0.8rem 0.2rem 0rem 0.2rem;
}


#descr-menu-contato{
    display: flex;
    text-align: center;
    font-size: 0.9rem;
}

.descr {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#img-logo-menu-contato{
    height: 30%;
    width: 30%;
    margin: 1rem;
}
