@import "./css/base.css";
@import "./css/layout.css";
@import "./css/components.css";

@import "./css/pages/catalogo.css";
@import "./css/pages/contato.css";
@import "./css/pages/marcas.css";
@import "./css/pages/sobre.css";